.seller_onboarding_hero{
    display: grid; 
    grid-template-columns: 53.5% 41%; 
    gap: 0px 32px;
    height: 480px;
    
    .hero_content {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-content: center;
        height: 100%;
        gap: 32px 0;

        h1 {
            font-size: 72px;
            line-height: 1;
            color: var(--blue-principal-000052);
        }
        p {
            color: rgb(119, 114, 114);
            font-size: 1.125rem;
            line-height: 1.75rem;
        }
    }

    .hero_image {
        background-image: url('../../../../../public/assets/hero/heroOnboarding.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        object-fit: cover;
    }
}