.navbar_list {
    height: 44px;
    background: var(--background-yellow);
    display: flex;
    align-items: center;
    justify-content: center;

    ul {
        list-style-type: none;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        font-style: normal;
        font-weight: 500;
        color: #0f0f0f;
        line-height: 1.5;
        letter-spacing: 0.00938em;
        cursor: pointer;
        text-decoration: none;
        font-size: 1rem;

        gap: 0 64px;
        
        a, li {
            &:hover {
                color: var(--blue-principal-000052);
                border-bottom: 2px solid var(--blue-principal-000052);
            }
        }
    }
}