Node_ENV=dev

# COOKIES
NEXT_I18LANG=fr

#CATALOG API URL
NEXT_PUBLIC_CATALOG_API_URL=https://api.nuvann.com/api/v1

#keycloak
NEXT_PUBLIC_KEYCLOAK_URL=https://keycloak.mjcodegroup.com
NEXT_PUBLIC_KEYCLOAK_REALM=nuvann
NEXT_PUBLIC_KEYCLOAK_CLIENT_ID=nuvann-store
NEXT_PUBLIC_KEYCLOAK_REDIRECT_URI=http://localhost:3000