# COOKIES
NEXT_I18LANG=ht

#CATALOG API URL
NEXT_PUBLIC_CATALOG_API_URL=https://dev-api.nuvann.com/api/v1

#keycloak
NEXT_PUBLIC_KEYCLOAK_URL=https://keycloak.mjcodegroup.com
NEXT_PUBLIC_KEYCLOAK_REALM=nuvann
NEXT_PUBLIC_KEYCLOAK_CLIENT_ID=nuvann-store
NEXT_PUBLIC_KEYCLOAK_REDIRECT_URI=http://localhost:3000

NEXT_PUBLIC_DASHBOARD_ACCESS_URL=https://staging-manage.nuvann.com/

NEXT_PUBLIC_CHECKOUT_URL_ON_SUCCESS=http://localhost:3000/orders
NEXT_PUBLIC_CHECKOUT_URL_ON_CANCEL=http://localhost:3000/checkout


#auth0
NEXT_PUBLIC_AUTH0_ISSUER_BASE_URL=https://dev-oy36i2x64cnh58cs.us.auth0.com
NEXT_PUBLIC_AUTH0_CLIENT_ID=BvVWpwUjzMrzvRhM7qpWZQ8XHO79OKiL
NEXT_PUBLIC_AUTH0_AUDIENCE=https://dev-oy36i2x64cnh58cs.us.auth0.com/api/v2/
NEXT_PUBLIC_AUTH0_IS_AUTHENTICATED=nuvann-valid-token


NEXT_PUBLIC_COOKIE_DOMAIN=localhost
# NEXT_PUBLIC_COOKIE_DOMAIN=.nuvann.com

NEXT_PUBLIC_COUNTRY_REGION= "Brazil"