.AchasHolder,
.AchasHolder2 {
    width: 100%;
    min-height: 650px;
    background-color: #F6F6F6;
    display: flex;
    padding: 2%;
    margin: 0 10% 20px 10%;
    height: auto;
    overflow: auto;
}

.AchasHolder {
    display: flex;
    justify-content: space-between;
}

.PurchaseCards {
    width: 55%;
}

.NoOrderSelected {
    text-align: center;
    padding: 20px;
    font-size: 18px;
    color: #555;
}

.PurchaseScroll {
    height: 650px;
    overflow: auto;
    padding: 15px;
}

.AchasHolder h3 {
    margin-left: 3%;
    margin-bottom: 2%;
}

.AchasHolder {
    .concatenate {
        margin-left: 3%;
        margin-left: 3%;
    }
}

.AchasHolder2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.messageAnyen {
    width: 570px;
    height: 214px;
    background-color: #ffffffad;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
}

.messageAnyen h3 {
    font-size: 24px;
    margin-bottom: 40px;
}

.OrdersResume {
    width: 50%;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .AchasHolder {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: auto;
        overflow: auto;
    }

    .AchasHolder,
    .AchasHolder2 {
        width: 100%;
        min-height: 650px;
        background-color: #F6F6F6;
        display: flex;
        padding: 2%;
        margin: 0 0% 20px 0%;
        height: auto;
        overflow: auto;
    }

    .PurchaseCards {
        width: 100%;
        margin-bottom: 20px;
        height: auto;
        min-height: 400px;
    }

    .PurchaseScroll {
        height: auto;
        overflow-y: auto;
    }

    .AchasHolder h3 {
        text-align: center;
        width: 100%;
        margin-left: 0%;
    }

    .OrdersResume {
        width: 100%;
        margin-top: 20px;
    }
}