.custom_slide_section {
  width: 100%;
  padding: 1% 0;
  height: 100%;
  .skeleton_container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    grid-gap: 25px;
    padding: 20px 0 5px 0;
    justify-content: center;
  }
  
  .card_home{
    height: 404px;
    transition: 0.1s ease-in-out;
    padding-right:16px;

    &:nth-last-child(0){
      padding-right: 0;
    }
    
    .__card {
      box-shadow: rgba(0, 0, 0, 0.12);
      border-radius: 6px;
      border: 1px solid #E5E5E5;
      height: 100%;
      padding: 6px;
      background-color: #ffff;
      
      .img_separator {
        margin: 12px;
        padding: 1px;
        color: #000000;
        border-bottom: 2px solid #F5F5F5;
      }
      &:hover{
        cursor: pointer;
        box-shadow: 0px 5px 14px rgba(173, 169, 169, 0.322);
      }
    }
    
  
    h2{
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 23px;  
      color: #000000;
      text-transform: capitalize;
      text-align: left;
    }
    
      .lastprice{
        text-decoration:line-through;
      }

      .percent_count{
        color: #00a650;
      }
    
      
      p{
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        color: #000000;
        
        i{
          font-style: normal;
          font-weight: 300;
          font-size: 14px;
          line-height: 16px;
          color: #878787;
        }
    
      }
    
      .currentPrice {
        width: 100%;
        font-size: 20px;
        color: rgba(0,0,0,.8);
    
        span {
          color: #00a650;
          font-size: 14px;
          font-weight: 400;
          padding-left: 5px;
        }
      }
    
      .product_img{
        width: 100%;
        height: 60%;
        background: #E5E5E5;
        position:relative;
        img{
          height: 100%;
          width:100%;
          object-fit: cover;
          border-radius: 6px;

        }
        .show_hover {
          position:absolute;
          left:0;
          top:0;
          width:100%;
          height:100%;
          opacity:0;
          transition: 0.3s;
        }  
      }
    
      .product_new_label{
        color:var(--blue-principal-000052);
        background-color: var(--background-yellow);
        font-size:12px;
        text-transform:uppercase;
        padding:2px 4px;
        display:block;
        position:absolute;
        top: 0;
        border-start-start-radius: 8px;
        border-end-end-radius: 8px;
        z-index: 1;
      }
    
      .bottom{
        h2 {
          font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
          font-size: 13px;
        }
    
        .description {
          color: rgba(0,0,0,.8);
          font-size: 14px;
          font-weight: 300;
          letter-spacing: .2px;
          line-height: 1.3;
          margin: 6px 0 0;
          max-height: 36px;
          min-height: unset;
          padding: 0;
          word-wrap: break-word;
        }
    
        .daily_deal {
          background-color: #3483fa;
          -webkit-border-radius: 3px;
          border-radius: 3px;
          color: #fff;
          display: flex;
          width: 55%;
          align-items: center;
          font-size: 12px;
          font-weight: 600;
          line-height: 1.2;
          padding: 4px 4px;
          text-transform: uppercase;
        }
      }
    
    }
    
      @media only screen and (max-width: 1125px)
      {
          .card_1 {
            width: 290px;
            height: 424px;
            // display: none;
          }
        }
    
        .card_home:hover .show_hover{
          opacity:1
        }
      }
      
      
      .slick_prev:hover,.slick_next:hover,
      .slick_prev:focus,.slick_next:focus{
        background-color: #E5E5E5;
      
      }
      
      .slick_prev, .slick_next {
        z-index: 1000;
        height: 42px;
        width: 42px;
        border-radius: 50%;
        color: #000052;
  
      }
      
        .slick-arrow {
          background-color: #E5E5E5;
      
        }
        
        .slick_prev:before, .slick_next:before {
         color: #000052;
         background-color: #ffff;
         font-size: 25px;
         border-radius: 50%;
         z-index: 2;
        } 
        .slick-slide {
            display: grid;
            place-items: center;
            width: 50%;
            margin: auto;
            height: 100%;
            padding: 0px;
        }
  
        .slick-arrow {
          background-color: #b0b0b0; // cor cinza
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          height: 42px;
          width: 42px;
          transition: background-color 0.3s ease-in-out;
        
          .arrow-icon {
            color: #fff; // ícone branco
            font-size: 20px;
          }
        
          &:hover {
            background-color: #000052; // fundo azul
            .arrow-icon {
              color: #fff; // ícone branco
            }
          }
        }
      