.product_infos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h3 {
        font-weight: 500;
        margin: 0;
        vertical-align: sub;
        max-height: 3rem;
        line-height: 1.5rem;
        overflow: hidden;
        max-width: 41.5625rem;
        font-size: 1.25rem;
        overflow-wrap: break-word;
        color: var(--blue-principal-000052);
    }

    .title_footer {
        display: flex;
        justify-content: space-around;
        margin-top: 16px;

        p {
            
            small {
                font-size: .875rem;
                color: #767676;
                text-transform: capitalize;
                
            }
            
            &:not(:first-child) {
                padding: 0 5px;
                border-left: 1px solid rgba(0,0,0,.14);

            }
        }
    }

    .prices_class {
        margin-top: 2%;
        padding: 15px 20px;
        background: #fafafa;
        display: flex;
        gap: 0 24px;
        small {
            font-size: 1rem;
            text-decoration: line-through;
            color: #929292;
            margin-right: 10px;
        }
        p {
            font-size: 1.875rem;
            font-weight: 500;
            color: var(--blue-principal-000052);
            margin:0 5% 0 0;


          }
          span {
              margin-left: 20px;
              font-size: 0.5rem;
              color: #fff;
              text-transform: uppercase;
              background: #00a650;
              border-radius: 2px;
              padding: 2px 4px;
              font-weight: 600;
              line-height: 1px;
              white-space: nowrap;
              display: flex;
              align-items: center;
              height: 15px;
          }
    }

    .detail_infos_footer {
        display: flex;

        margin: 2% 2% 0 0;
        
        button {
            margin-right: 20px;
            height: 45px;
        }

        .btn_cart {
            border: 1px solid var(--blue-principal-000052);
            background-color: rgba(0, 0, 0, 0.04);
            min-width: 250px;
        }

        .btn_purchase {
            min-width: 200px;
        }
    }

    .selected_section {
      color: red;
      .detail_error_message {
          text-align: center;
          font-size: 16px;
          margin-left: 32px;
        }
      }
}

@keyframes shake {
    0% {
      transform: translate(0);
    }
    10% {
      transform: translate(-10px, 0);
    }
    20% {
      transform: translate(10px, 0);
    }
    30% {
      transform: translate(-10px, 0);
    }
    40% {
      transform: translate(10px, 0);
    }
    50% {
      transform: translate(-10px, 0);
    }
    60% {
      transform: translate(10px, 0);
    }
    70% {
      transform: translate(-10px, 0);
    }
    80% {
      transform: translate(10px, 0);
    }
    90% {
      transform: translate(-10px, 0);
    }
    100% {
      transform: translate(0);
    }
  }
  
  .shake {
    animation: shake 0.5s;
  }

  @media (max-width: 480px) {
  .product_infos {

    .title_footer {
      display: flex;
      justify-content: space-between;
      margin-top: 16px;

      p {
        display: flex;
        flex-direction: column;
          small {
              font-size: .875rem;
              color: #767676;
              text-transform: capitalize;
          }
          
          &:not(:first-child) {
              padding: 0 5px;
              border-left: 1px solid rgba(0,0,0,.14);

          }
      }
    }

    .prices_class {
      margin-top: 2%;
      // padding: 15px 20px;
      background: #fafafa;
      display: flex;
      justify-content: space-between;

      small {
          font-size: 0.8rem;
          text-decoration: line-through;
          color: #929292;
          margin-right: 10px;
      }
      p {
          font-size: 1rem;
          color: var(--blue-principal-000052);
      }
      span {
          font-size: 0.7rem;
          color: #fff;
          text-transform: uppercase;
          background: #00a650;
          border-radius: 4px;
          font-weight: 300;
          line-height: 1;
          white-space: nowrap;
          align-items: center;
          display: flex;
      }
    }

    .detail_infos_footer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 16px;


      
      button {
          // margin-right: 20px;
          height: 45px;
      }

      .btn_cart {
          border: 1px solid var(--blue-principal-000052);
          background-color: rgba(0, 0, 0, 0.04);
          min-width: 250px;
      }

      .btn_purchase {
          min-width: 200px;
      }
  }
  }
}