.container {
    display: flex;
    width: 100%;
}

.about {
    border-radius: 0.8%;
    width: 100%;
}

.rightSection {
    width: 100%;
    overflow-y: auto;
}

.StepProgress {
    position: relative;
    padding-left: 45px;
    list-style: none;
    strong{
        color: #000052;
    }
    span{
        margin-bottom: 10%;
    }
}

.StepProgress::before {
    display: inline-block;
    content: '';
    position: absolute;
    top: 0;
    left: 15px;
    width: 10px;
    height: 100%;
    border-left: 2px solid #CCC;
}

.StepProgressItem {
    position: relative;
    counter-increment: list;
    padding-bottom: 10%;
}

.StepProgressItem.isDone::before {
    border-left: 2px solid white;
}

.StepProgressItem.current::before {
    border-left: 2px solid white;
}

.StepProgressItem::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    left: -37px;
    width: 12px;
    height: 12px;
    border: 2px solid #CCC;
    border-radius: 50%;
    background-color: #FFF;
}

.StepProgressItem.isDone::after {
    background-color: green;
}

.StepProgressItem.current::after {
    background-color: white;
}

@media only screen and (max-width: 500px) {
    .container {
        flex-direction: column;
    }

    .rightSection {
        width: 100%;
        overflow-y: visible;
    }
}