.navbar_container_principal {
    height: 146px;
    background: var(--background-white);
    .nav_header {
        margin: 0 120px;
        // border: 1px solid green;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .navbar_search {
            height: 40px;
            width: 521px;
        }
    }
}