.seller_onboarding_hero_stepper {
    height: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 16px;

    @media (max-width: 1024px) {
        height: auto;
    }
}

.stepper_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 64px;
    gap: 32px;

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        .steps {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 16px;
            height: 32px;
            width: 32px;

            border: 2px solid var(--blue-principal-000052);
            border-radius: 50%;

            p {
                font-size: 1.125rem;
                font-weight: 700;
            }
        }
    }

    h1 {
        color: var(--blue-principal-000052);
        margin-bottom: 16px;
        font-size: 32px;

        @media (max-width: 768px) {
            font-size: 28px;
        }

        @media (max-width: 480px) {
            font-size: 24px;
            text-align: center;
        }
    }

    p {
        color: rgb(119, 114, 114);
        font-size: 1.125rem;
        line-height: 1.75rem;

        @media (max-width: 768px) {
            font-size: 1rem;
            line-height: 1.5rem;
        }

        @media (max-width: 480px) {
            text-align: center;
        }
    }

    @media (max-width: 1024px) {
        gap: 16px;
    }

    @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}
