.pagging_section {
    display: grid; 
    grid-template-columns: 45% 55%; 
    gap: 0px 22px;
    height: 100%;
}

@media (max-width: 480px) {
    .pagging_section{
        display: flex;
        flex-direction: column;
        gap: 0px 22px;
    }
}