.footer_principal_container {
    background-color: #FFFFFF;
    height: 100%;
    border-top: 4px solid #000052;
    margin-top: 80px;
    padding: 0 120px;

    .footer_details {
        height: 92%;
        display: flex;
        justify-content: space-between;
        width: 100%;
        gap: 0px 25px;
        
        padding-top: 8px;
        padding-bottom: 16px;
        
        h2 {
            line-height: 23px;
            
            color: #000052;
            margin:12px 0 15px 0;
            
            font-size: .75rem;
            font-weight: 700;
            margin-top: 2.5rem;

            text-transform: uppercase;
        }
        
        
        p {
            margin: 12px 0;
            
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;
            color: rgba(0, 0, 0, .65);
            
        }
        .footer_principal_cards {
            display: flex;
            justify-content: space-between;
            flex-grow: wrap;
            gap: 16px 16px;
            align-items: center;
        }
    }

    .footer_signature {
        border-top: 1px solid rgba(0, 0, 0, .1);
        display: flex;
        justify-content: space-around;
        gap: 16px 50px;
        padding: 32px;
        span {
            color: #707070;
            font-weight: 300;
            font-size: 12px;
        }
    }
}

@media (max-width: 780px) {
    .footer_principal_container{
        padding: 0 24px;

    .footer_details {
        flex-direction: column;
    }
        .footer_signature{
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            padding: 8px;
        }
    }
}