.nav_options_container {
    list-style-type: none;
    display: flex;
    align-items: center;

    li {
        cursor: pointer;
        align-items: center;
        display: flex;
        margin-right: 16px;
        justify-content: space-between;

        a {
            margin-right: 16px;
            button {
                width: 150px;
                height: 45px;
                border: none;
                background-color: transparent;
                // color: var(--background-white);
                cursor: pointer;
                font-family: Roboto;
                font-size: 16px;
                font-weight: 400;
                line-height: 15.23px;
                border-radius: 8px;

                &:hover {
                    border-left: 1px solid var(--blue-principal-000052);
                    border-bottom: 1px solid var(--blue-principal-000052);
                }

            }
        }
        span{
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            margin-left: 8px;
        }
        small{
            color: #ffff;
        }
    }
}