.search_container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    .products__{
      width: 100%!important;
    }
  }

  @media screen and (max-width: 450px){
    .search_container{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
    }
  }