.jumb_container {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 32px 0;

    .jumb_content{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        gap: 0 8px;
        img{
            height: 30px;
            width: 30px;
        }
        p{
            color: #252424;
            line-height: 19;
            font-weight: 400;
        }
    }
}