.available_content {
    display: flex;
    margin: 16px 0;
    align-items: center;
    flex-wrap: wrap;
    p {
        color: rgb(117, 117, 117);
        width: 110px;
        text-transform: capitalize;
        width: 100%;
        display: flex;
    }
    span {
        margin-top: 8px;
        font-size: .875rem;
        color: #2e9cc3;
        text-transform: capitalize;
        
        margin: 8px 4px;
        
        &:not(:first-of-type) {
            padding: 0 4px;
            border-left: 1px solid#2e9cc3;
        }

        
    }
}