.available_content {
    display: flex;
    margin: 16px 0;
    align-items: center;
    flex-wrap: wrap;
    p {
        color: rgb(117, 117, 117);
        width: 110px;
        text-transform: capitalize;
        flex-shrink: 0;
        width: 100%;
    }
    span {
        margin-top: 8px;
        font-size: .875rem;
        color: #2e9cc3;
        text-transform: capitalize;
        &:not(:first-child) {
            margin: 4px 0;
            padding: 0 8px;
            border-left: 1px solid#2e9cc3;
        }
    }
}